/* class="flex md:py-4 px-1 md:px-3 gap-2 md:gap-14 md:mr-11 text-xs md:text-lg bg-slate-600 md:ml-48 border rounded-full text-yellow-50 justify-end" */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&family=Ysabeau+SC:wght@500&display=swap');
body{
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 16px;
}
main h1{
font-size: 2.5em;
color:rgb(85, 101, 124);
margin-bottom: 2rem;
cursor: pointer;
}

nav{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  
 	background: rgba(75, 85, 99, 0.7);
    /* opacity: 0.6; */
    /* filter: blur(1px); */

    display: flex;
    justify-content: space-between;


    
}
.nav-img{
   /* max-width: 45%; */
   width: 5%;
    height: 5%;
    /* width: 50px; */
    opacity: 1;
    
}

ul{
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
padding: 20em;
   justify-content: end;
   align-items: center;
    width: 40%;
}
ul li{
    cursor: pointer;
}

.card-container{
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: end;
/* gap: 2rem; */

}
.card{
  text-align: center;
  background: rgb(51, 65, 85,0.7);
  padding: 1rem;
  border-radius: 1em;
 
  width: 320px;
 justify-self: center;
 
}

.card h2{
    font-size: 2.2em;
    color:black;
}
.card img{
    border-radius: 1em;
    max-width: 100%;
    
}

.card:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
   
}
.menu-svg{
    width: 50px;
    height: 50px;
    display: none;
}


@media (max-width:680px) {
    .card-container{
     grid-template-columns: 1fr;
     
      
    }
    .card{
        width: 300px;
        margin-bottom: 5rem;
    }

    ul{
        display: none;
    }
    .nav-img{
        width: 50px;
    }
    .menu-svg{
        display: block;
    }
}

